.table {
    -fx-background-color: white;
    -fx-opacity: 0.05;
}
.container{
    -fx-background-color: blue;
}
.my-card {
    -fx-background-color: red;
    -fx-pref-height: 200px;
    -fx-pref-width: 300px;
}